/* Portrait tablet to landscape and desktop */

@media (max-width: 991px) {
  header {
    text-align: center;
  }

  aside {
    display: none;
  }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
  header .btn {
    width: 50%;
    margin-bottom: 5px;
  }

  header .btn + .btn {
    margin-left: 0;
  }
}

/* Landscape phones and down */

@media (max-width: 480px) {
  header .btn {
    width: 100%;
  }
}
