body {
  font-family: "Proxima Nova", serif;
  font-size: 16px;
  font-weight: 300;
  color: #919E9F;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova", serif;
  font-weight: 400;
  margin: 2em 0 1em;
  color: #2B3E4E;
}

article > section {
  counter-increment: major;
}

h2:before {
  content: counter(major) " ";
}

article > section > section {
  counter-reset: sub;
  counter-increment: minor;
}

h3 {
  font-size: 22px;
}

h3:before {
  content: counter(major) "." counter(minor) " ";
}

h4 {
  counter-increment: sub;
}

h4:before {
  content: counter(major) "." counter(minor) "." counter(sub) " ";
}

p, pre {
  margin-bottom: 1em;
}

i {
  font-family: "Entypo";
  font-style: normal;
  font-size: 38px;
  line-height: 0;
  position: relative;
  top: 5px;
  right: 5px;
}

i.social {
  font-family: "Entypo Social";
}

blockquote {
  background-color: white;
  border-color: #e0e4e5;
}

/* HEADER */

header {
  margin-bottom: 100px;
  padding: 80px 0 100px;
  border-bottom: 1px solid #dadedf;
}

header .blurb {
  margin: -30px 0 15px;
  font-weight: 300;
  font-size: 22px;
}

header .btn + .btn {
  margin-left: 5px;
}

.graphic {
 padding-top: 20px;
}

nav {
  text-align: right;
}

nav.affix {
  top: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
}

#nav .nav > li > a {
  padding: inherit;
  display: inline;
  color: #DADEDF;
}

#nav > .nav > li > a {
  color: #2B3E4E;
}

#nav > .nav > li > ul {
  display: none;
}

#nav > .nav > li.active > ul {
  display: block;
}

#nav .nav > li > a:hover {
  text-decoration: underline;
  background-color: inherit;
}

#nav .nav > li.active > a {
  color: #259DFF;
}

#nav .nav {
  width: 200px;
}

article > section:first-child h2 {
  margin-top: 0;
}

strong {
  font-weight: 500;
}

.btn {
  padding: 1em 1.5em;
  font-weight: 400;
  font-size: 13px;
}

.btn-clear {
  background-color: white;
  border-color: #dadedf;
  color: #2B3E4E;
}

.btn-clear:hover {
  border-color: #919E9F;
}

.btn-clean {
  background-color: #eee;
  border-color: #eee;
}

.btn-clean:hover {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: inherit;
}

.btn-primary {
  background-color: #96c0c0;
  border-color: #96c0c0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #86baba;
  border-color: #86baba;
}

a {
  color: #259DFF;
}

a:hover {
  color: #96c0c0;
  text-decoration: underline;
}

code {
  font-size: 11px;
  background-color: white;
  color: #2B3E4E;
}

pre {
  font-size: 11px;
  color: #2B3E4E;
  background-color: white;
  border-color: #DADEDF;
  padding: 1em 1.25em;
}

.check-list {
  list-style: none;
  padding-left: 1em;
}

.check-list li:before {
  content: "\2713\0020";
  padding-right: 0.5em;
  color: #86baba;
}

.brand-heading {
  margin: 1em 0;
}
