body{font-family:"Proxima Nova",serif;font-size:16px;font-weight:300;line-height:1.5;text-rendering:optimizeLegibility;color:#646a6e}
h1,h2,h3,h4,h5,h6{font-family:"Proxima Nova",serif;font-weight:400;margin:2em 0 1em}
article.guide h2{counter-reset:minor;counter-increment:major;}
article.guide h2:before{content:counter(major) " "}
article.guide h2:first-child{margin-top:0}
article.guide h3{counter-increment:minor;font-size:22px;}
article.guide h3:before{content:counter(major) "." counter(minor) " "}
p,pre{margin:16px 0}
blockquote{border:none;position:relative;}
blockquote:before{content:"\201C";font-size:84px;color:#dadedf;position:absolute;top:-20px;left:0}
blockquote p{margin:0 0 0 1.5em;font-size:inherit}
p > code,em > code{background-color:inherit;color:#2b3e4e}
pre{border:none;font-size:13px;padding:2em}
code{font-size:12px}
i{font-family:"Entypo";font-style:normal;}
i.social{font-family:"Entypo Social"}
.btn i{font-size:38px;line-height:0;position:relative;top:4px;right:10px}
blockquote{background-color:#fff;border-color:#e0e4e5}
img.graphic{opacity:.1}
header{background-color:#3a8aea;color:#fff;}
header img{height:50px;margin:20px 0;float:left}
header h3{margin:40px 0 38px;color:inherit;letter-spacing:2px;font-weight:500;}
header h3 a,header h3 a:hover{color:#fff;text-decoration:none}
header .center{text-align:center}
header .right{text-align:right;}
header .right li{display:inline-block;font-weight:400;margin:40px 0 0 20px;}
header .right li:first-child{margin-left:0}
header .right li a{color:inherit}
header i#hamburger{cursor:pointer;font-size:68px}
section.intro{text-align:center;padding:60px 0 80px;background-color:#3a8aea;color:#fff;}
section.intro img{height:70px}
section.intro .blurb{margin:0 auto 20px;font-weight:200;font-size:32px;max-width:800px}
section.intro .btn + .btn{margin-left:5px}
section.highlights{padding:40px 0 60px;}
section.highlights h3{font-weight:300}
section.highlights span{font-family:monospace;font-size:14px;}
section.highlights span .highlighted{background-color:#3a8aea;color:#fff;border-radius:3px;padding:0 4px 3px}
section.author{text-align:center;background-color:#f0f2f5;}
section.author h2{font-weight:200;font-size:36px}
section.author img{margin:40px 0 20px;width:200px;height:200px;border-radius:500px}
section.author a{font-size:46px;padding:0 5px;position:relative;bottom:155px;color:#fff;transition:all .2s;}
section.author a:hover{text-decoration:none;color:#3a8aea}
section.docs{margin:80px 0 40px}
section .separator{text-align:center;border-top:1px solid #ddd;margin:40px 0 -30px;letter-spacing:1px;}
section .separator h5{position:relative;top:-35px;display:inline-block;padding:0 1em;background-color:#fff;color:#bbb;font-weight:400}
nav{text-align:right;}
nav.affix{top:40px}
nav ul{list-style:none;margin:0}
#nav .nav{width:200px}
#nav a{padding:inherit;display:inline;color:#919e9f;}
#nav a:hover{text-decoration:underline;background-color:inherit}
#nav > .nav > li > a{color:#444e4e}
#nav > .nav > li ul{display:none}
#nav li.active ul{display:block}
#nav li.active > a{color:#3a8aea}
strong{font-weight:500}
.btn{padding:1em 1.5em;font-weight:400;font-size:13px}
.btn-clear{padding:1.5em 6em;border:none;color:#fff;background-color:#2971c8;transition:all .2s}
.btn-clear:hover{background-color:#2065b8;color:#fff}
.btn-primary{background-color:#96c0c0;border-color:#96c0c0}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{background-color:#86baba;border-color:#86baba}
a{color:#3a8aea}
a:hover{color:#3a8aea;text-decoration:underline}
.check-list{list-style:none;padding-left:1em}
.check-list li:before{content:"\2713\0020";padding-right:.5em}
