body {
  font-family: "Proxima Nova", serif;
  font-size: 15px;
  font-weight: 400;
  color: #4a546a;
  background-color: #f6f8f8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 1em 0;
}

article section {
  counter-increment: major;
}

h2:before {
  content: counter(major) " ";
}

h3 {
  counter-increment: minor;
  font-size: 22px;
}

h3:before {
  content: counter(major) "." counter(minor) " ";
}

p, pre {
  margin-bottom: 1em;
}

i {
  font-family: "Entypo";
  font-style: normal;
  font-size: 42px;
  line-height: 0;
  position: relative;
  top: 5px;
  right: 5px;
}

i.social {
  font-family: "Entypo Social";
}

blockquote {
  background-color: white;
  border-color: #e0e4e5;
}

/* HEADER */

header {
  margin-bottom: 60px;
  padding: 60px 0;
  background-color: white;
  box-shadow: 0px 0px 8px 4px #ecefef;
}

header .blurb {
  font-weight: 300;
  margin: 1em 0 0.5em;
}

header .btn + .btn {
  margin-left: 5px;
}

nav {
  margin-left: 20px;
}


article > section:first-child h2 {
  margin-top: 0;
}

strong {
  font-weight: 600;
}

.btn {
  padding: 1em 2em;
  font-weight: 400;
}

.btn-clear {
  background-color: white;
  border-color: #ddd;
  color: #3a4a5e;
}

.btn-clear:hover {
  border-color: #c0c0c0;
  color: inherit;
}

.btn-clean {
  background-color: #eee;
  border-color: #eee;
}

.btn-clean:hover {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: inherit;
}

.btn-primary {
  background-color: #96c0c0;
  border-color: #96c0c0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #86baba;
  border-color: #86baba;
}

a {
  color: #96c0c0;
}

a:hover {
  color: #86baba;
}

code {
  font-size: 12px;
  background-color: #fff4d4;
  color: inherit;
}

pre {
  background-color: white;
  border: none;
  box-shadow: 0px 1px 1px 1px #e0e4e5;
  padding: 1em 1.25em;
}

.check-list {
  list-style: none;
  margin-left: 1em;
}

.check-list li:before {
  content: "\2713\0020";
  padding-right: 0.5em;
  color: #86baba;
}
