---
layout: default
title: A declarative data binding facility
---

<header>
  <div class="container">
    <div class="col col-lg-3 logo">
      <img src="/img/rivets.png">
    </div>

    <div class="col col-lg-9">
      <h1 class="blurb">Lightweight and powerful data binding + templating solution for building modern web applications.</h1>

      <a class="btn btn-primary" href="/dist/rivets.min.js">
        <i>&#128229;</i>
        Download 0.5.7
      </a>

      <a class="btn btn-clear" href="http://github.com/mikeric/rivets">
        <i class="social">&#62208;</i>
        GitHub Repository
      </a>

      <a class="btn btn-clear" href="/docs/rivets.html">
        <i>&#59156;</i>
        Annotated Source
      </a>
    </div>
  </div>
</header>

<div class="container">
  <aside class="col col-lg-3">
    <nav>
      <ul>
        {% for post in site.posts %}
          <li><a href="#{{ post.anchor }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </aside>

  <article class="col col-lg-9">
    {% for post in site.posts %}
      <section id="{{ post.anchor }}">
        <h2>{{ post.title }}</h2>
        {{ post.content | unindent | markdownify }}
      </section>
    {% endfor %}
  </article>
</div>
