@media(min-width: 1200px)
  .container
    width 970px

// Portrait tablet to landscape and desktop

@media(max-width: 991px)
  aside
    display none

// Landscape phone to portrait tablet

@media(max-width: 767px)
  header #menu
    ul
      li
        margin 0 0 0.5em
        display block

  section.intro .blurb
    font-size 28px
