!!!
html
  head
    title Rivets.js &mdash; Lightweight and powerful data binding + templating solution for building modern web applications

    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/type.css")
    link(rel="stylesheet", href="/css/screen.css")
    link(rel="stylesheet", href="/css/syntax.css")
    link(rel="stylesheet", href="/css/responsive.css")

    script(src="/js/jquery.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/highlight.js")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(type="text/javascript").
      hljs.initHighlightingOnLoad();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6079274-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body(data-spy="scroll", data-target="#nav")
    header
      .container
        .col.col-md-7
          h1.brand-heading Rivets.js

          p.blurb Lightweight and powerful data binding + templating solution for building modern web applications.

          a.btn.btn-clear(href="/dist/rivets.min.js")
            i &#128229;
            span Download 0.6.2

          a.btn.btn-clear(href="http://github.com/mikeric/rivets")
            i.social &#62208;
            span GitHub Repository

          a.btn.btn-clear(href="/docs/rivets.html")
            i &#59156;
            span Annotated Source

        .col.col-md-5.graphic.hidden-sm.hidden-xs
          img(src="/img/rv-blueprints.png")

    .container
      != yield
