<!DOCTYPE html>

<html>
<head>
  <title>Rivets.js &mdash; {{ page.title }}</title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/css/type.css" rel="stylesheet" type="text/css" />
  <link href="/css/screen.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6079274-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  {{ content }}
</body>
</html>
