doctype

html
  head
    title Rivets.js — Lightweight and powerful data binding + templating solution for building modern web applications

    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/type.css")
    link(rel="stylesheet", href="/css/screen.css")
    link(rel="stylesheet", href="/css/syntax.css")
    link(rel="stylesheet", href="/css/responsive.css")

    script(src="/js/jquery.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/highlight.js")
    script(src="/js/app.js")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(type="text/javascript").
      hljs.initHighlightingOnLoad();

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6079274-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body(data-spy="scroll", data-target="#nav")
    header
      .container
        .row
          .col.col-xs-6
            h3.logotype
              a(href="/") RIVETS

          .col.col-xs-6.right.visible-xs
            i#hamburger &#9776;
          .col.col-sm-6.col-xs-12.right.hidden-xs#menu
            ul.list-unstyled
              li
                a(href="/docs/guide") Guide
              li
                a(href="/docs/reference") Binder Reference
              li
                a(href="http://github.com/mikeric/rivets") GitHub

    != yield
